:root{
    --main-bgc: #151515;
    --alternative-bgc: #eeeeee;
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Courier Prime', monospace;
    --primary-color: #ffffff;
    --secoondary-color: #151515;
    --tertiary-color: #eeeeee;
    --quarter_color: #e00751;
}

body{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    background-color: var(--main-bgc);
    color: var(--primary-color);
}
.header{
    padding: 8px;
    position: relative;
    z-index: 1002;
}

.logo{
    display: inline-block;
    width: 12vw;
}
.logo img{
    width: 116px;
}
.sectioMenu{
    display: inline-block;
    float: right;
}

.content-main{
    margin: 32px;
    margin-top: 16vh;
}
ul{
    list-style: none;
}
li{
    padding: 32px 0;
    border-bottom: 2px solid;
}
h4{
    display: inline-block;
    font-size: 146px;
    font-weight: 300;
    margin: 0px;
    line-height: 1;
}
span.material-symbols-outlined{
    font-size: 98px;
}

.txt{
    font-size: 48px;
    font-weight: 100;
}
.link{
    display: inline-block;
}
.link a{
    font-size: 34px;
    color: var(--quarter_color);
    font-family: var(--secondary-font);    
}
.openbtn{
    width: 10vw;
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 68px;
    float: right;
}


.collapse_content{
    overflow: hidden;
    height: auto;
    max-height: 100vh;
    opacity: 1;
    transition: max-height 2s, opacity 2s;
}

.collapse_content.closed{
    overflow: hidden;
    opacity: 0;
    max-height: 0vh;
}

.sidebar{
    position: fixed;
    background-color: var(--quarter_color);
    width: 80vw;
    height: 100vh;
    top: 0px;
    right: 0vw;
    overflow: hidden;
    max-width: 80vw;
    transition: right 2s;
    z-index: 1100;
}

.sidebar.closed{
    right: -80vw;
}
.sidebar ul{
    margin-top: 16vh;
}
    .sidebar .closebtn{
    color: var(--primary-color);
    background: none;
    border: none;
    font-size: 98px;
    float: right;
    padding: 2vw;
}
.sidebar .link_txt{
    font-size: 90px;
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    text-align: center;
}
.sidebar li.icon{
    border-bottom: none;
}
.sidebar .link_icon{
    color: var(--primary-color);
    display: block;
    text-align: center;
    border: 8px solid white;
    margin: 42px;
    padding: 18px 0px;
    text-decoration: none
}

.popup{
    background-color: var(--primary-color);
    color: var(--secoondary-color);
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    opacity: 1;
    transition: max-height 2s, opacity 2s;
}
.popup.closed{
    overflow: hidden;
    opacity: 0;
    max-height: 0vh;
}
.popup-content{

}
.popup-content h4{
    
    font-size: 5vh;
    text-align: center;
    display: block;
    margin-top: 16vh;
}
h5{
    font-size: 3vh;
    font-weight: 300;
    text-align: center;
    border-top: 1px solid;
    margin: 0vh 3vh;
    padding: 4vh;
}
p{
    font-size: 3vh;
    font-weight: 100;
    margin: 1vh;
    padding: 2vh;

}