:root{
    --main-bgc: #151515;
    --alternative-bgc: #eeeeee;
    --primary-font:'Roboto', sans-serif;
    --secondary-font:'Courier Prime', monospace;
    --primary-color: #ffffff;
    --secondary-color: #151515;
    --tertiary-color: #eeeeee;
    --quarter_color: #e00751;
}

body{
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 72px;
    line-height: 80px;
    background-color: var(--main-bgc);
    color: var(--primary-color);
    margin: 0;
}
.header{
    padding: 8px;
    position: relative;
    z-index: 1002;
}

.logo{
    display: inline-block;
    width: 12vw;
}
.logo .img{
    width: 116px;
}
.logo .img .strokeElement{
    stroke: var(--secondary-color);
}
.logo .img .closed .strokeElement{
    stroke: var(--primary-color);
}
.sectioMenu{
    display: inline-block;
    float: right;
}
.content-main{
    margin: 2vh 4vw;
}
.menu{
    margin: 0 4vh;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 32px 0;
    border-bottom: 2px solid;
}
h4{
    font-size: 120px;
    font-weight: 300;
    margin: 0px;
    line-height: 1;
}
span.material-symbols-outlined{
    font-size: 98px;
}
.sectioMenu .material-symbols-outlined{
    color: var(--secondary-color);
}
.sectioMenu .material-symbols-outlined.closed{
    color: var(--primary-color);
}

.hi_button{
    transform: rotate(0deg);
    transition: transform 2s;
}

.hi_button.closed{
    transform: rotate(45deg);
}

.txt{
    font-size: 48px;
    font-weight: 100;
}
.link{
    display: inline-block;
}
.link a{
    font-size: 34px;
    color: var(--quarter_color);
    font-family: var(--secondary-font);    
}
.openbtn{
    width: 10vw;
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 68px;
    float: right;
}


.collapse_content{
    overflow: hidden;
    height: auto;
    max-height: 100vh;
    opacity: 1;
    transition: max-height 2s, opacity 2s;
}

.collapse_content.closed{
    overflow: hidden;
    opacity: 0;
    max-height: 0vh;
}

.sidebar{
    position: fixed;
    background-color: var(--quarter_color);
    width: 80vw;
    height: 100vh;
    top: 0px;
    right: 0vw;
    overflow: hidden;
    max-width: 80vw;
    transition: right 2s;
    z-index: 1100;
}

.sidebar.closed{
    right: -80vw;
}
.sidebar ul{
    margin-top: 16vh;
    text-align: center;
}
.sidebar .closebtn{
    color: var(--primary-color);
    background: none;
    border: none;
    font-size: 98px;
    float: right;
    padding: 2vw;
}
.sidebar .link_txt{
    font-size: 90px;
    color: var(--primary-color);
    text-decoration: none;
    background: none;
    border: none;
}
.sidebar li.icon{
    border-bottom: none;
}
.sidebar .link_icon{
    color: var(--primary-color);
    display: block;
    text-align: center;
    border: 8px solid white;
    margin: 42px;
    padding: 18px 0px;
    text-decoration: none
}

.popup{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    height: auto;
    opacity: 1;
    max-height: 1000vh;
    transition: max-height 2s, opacity 2s;
    padding-bottom: 110px
}
.popup.closed{
    overflow: hidden;
    opacity: 0;
    max-height: 0vh;
}
.popup-content{
    margin-top: 16vh;
}
.popup-content h4{
    
    font-size: 5vh;
    display: block;    
    margin: 1vh;
    padding: 2vh;
    
}
h5{
    font-size: 3vh;
    font-weight: 400;
    border-top: 1px solid;
    margin: 0vh 3vh;
    padding: 3vh 0;
}
p{
    font-size: 3vh;
    font-weight: 100;
    margin: 1vh;
    padding: 2vh;

}
.spacialLabel{
    color: var(--quarter_color);
}
.spacialLabel span, p span{
    display: block;
}
.grafic-content{
    padding: 4vh;
    display: block;
    text-align: center;
    margin: 0;
    background-color: var(--alternative-bgc);
}
.grafic-content img{
    margin: 4vh;
    max-width: 72vw;
}
.footer-image{
    border-top: 1px solid var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    font-size: 2vh;
    text-align: left;
    line-height: 3vh;
}

.footer{
    position: relative;
    z-index: 999;
    width: 100%;
    margin-top: 12vh;
}
.footer.closed{
    position: fixed;
    bottom: 0;
    color: var(--secondary-color);
}

.footer-blockR{
    display: inline-block;
    float: right;
}
.footer-blockL{
    display: inline-block;
}
.footer-blockL span{
    font-size: 2vh;
    margin: 2vh;
    padding: 1vh;
}
.footer-blockR a{
    margin: 2vh;
    padding: 1vh;
    color: var(--primary-color);
}